@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Barlow;
    src: url(BarlowCondensed-Regular.ttf);
}

body {
    background-color: #0f0f0f;
    font-family: Barlow;
    background-image: url(winzent.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    margin: 0px 0px 0px 0px;
}

a, a:visited {
    color: #f1f1f1;
    text-decoration: underline dotted #f1f1f1;
}

a:hover {
    color: #ffffff;
    text-decoration: underline solid #ffffff;
}

h1, h2 {
    font-family: BebasNeue;
}

h1 {
    font-size: 72px;
    letter-spacing: 1rem;
    color: #f1f1f1;
    margin: 0px 0px 0px 0px;
}

h2 {
    font-size: 32px;
    letter-spacing: 0.2rem;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    color: #f1f1f1;
    margin-top: 50px;
}

#header p {
    color: #f1f1f1;
    margin-top: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    color: #f1f1f1;
    flex: 1;
    width: 80%;
    background-color: rgba(0, 0, 0, .5);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    border: 2px solid #f1f1f1;
}