@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Barlow;
    src: url(BarlowCondensed-Regular.ttf);
}

body {
    background-color: #f1f1f1;
    font-family: Barlow;
}

h1, h2 {
    font-family: BebasNeue;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 32px;
}